PORT=<backend application port>
FRONTEND_URL=<complete route>
DB_USERNAME=<database username>
DB_PASSWORD=<database password>
DB_NAME=<database name>
DB_HOST=<eg. localhost>
DB_PORT=<DB PORT>


#Auth
SALT_ROUNDS=<NUMBER e.g 10>
JWT_SECRET=<SECRET>


